**/*/Makefile.in
*.dat
*.la
*.lo
*.o
*.pc
*.so
*.sw[po]
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
build/
config.h
config.h.in
config.log
config.status
configure
examples/array
examples/simple
libtool
m4/
src/parser.lex.*
src/parser.tab.*
src/parser.tab.*
stamp-h1
